#container{
    width: 800px;
    height: 600px;
    font-family: 'Press Start 2P', display;
    display: flex;
    flex-direction: column;
    background-color:limegreen;
    margin:200px;
}
h1{
    color: #5de11b;
    font-size: 80px;
    padding-left:50px;
    text-shadow: 20px 20px 20px #1e5c08;
    position: absolute;
}
.btn-styled {
    font-size: 30px;
    padding: 10px;
    line-height: 2;
    color:#5de11b;
    text-shadow: 5px 5px 5px #023608;
    font-family: 'Press Start 2P', display;
    background-color: #9957C2;
    box-shadow: 20px 20px 10px #3C085C;
    display: block;
    z-index: 2;
    margin: 0;
}