#container{
    width: 800px;
    height: 600px;
    font-family: 'Press Start 2P', display;
    display: flex;
    flex-direction: column;
    background-color:limegreen;
    margin:200px;
}
h2{
    color: #9957C2;
    font-size: 80px;
    padding-left: 35px;
    padding-top: 310px;
    text-shadow: 15px 15px 15px #3C085C;
    margin: 0;
    position: absolute;
}
img{
    display: block;
    margin: auto;
}